<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Danh mục</title>
    <link rel = "stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel = "stylesheet" type="text/css" href="css/bootstrap-hoan.css">
    <link rel = "stylesheet" type="text/css" href="css/common.css">
    <link rel = "stylesheet" type="text/css" href="css/home.css">
    <link rel = "stylesheet" type="text/css" href="css/category.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div id = "header">
    <div class="container">
        <div id="header1" class="row">
            <div class="col-md-4 col-xs-6">
                <div id="input">
                    <form>
                        <input type="text" placeholder="Tìm kiếm">
                        <button type="submit"><img src="images/search.png"></button>
                    </form>
                </div>

            </div>
            <div id="logo" class="col-md-4 col-xs-6">
                H-Phượt
            </div>
            <div id="social" class="col-md-4 col-xs-6">
                <a href=""><img src="images/f.png"></a>
                <a href=""><img src="images/icon2.png"></a>
                <a href=""><img src="images/g.png"></a>
                <a href=""><img src="images/icon4.png"></a>
            </div>

        </div>
        <div class ="menu">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href=""><span class="glyphicon glyphicon-home"></span>Trang chủ</a></li>
                    <li class="active"><a href="">Miền Bắc</a></li>
                    <li><a href="">Miền Trung</a></li>
                    <li><a href="">Miền Nam</a></li>
                    <li><a href="">Nước ngoài</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Kinh nghiệm</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div id="category">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li class="active">Miền Bắc</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="post">
                    <div class="col-md-8">
                        <div class="thumbnail-top">
                            <img src="images/dong-song-nho-quan.jpg">
                        </div>
                        <div class="title">
                        Đèo Mã Phí Lèng huyền thoại
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="list-cate">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
                                </div>
                                <div class="time">
                                    3 phút trước
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
                                </div>
                                <div class="time">
                                    3 phút trước
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
                                </div>
                                <div class="time">
                                    3 phút trước
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
                                </div>
                                <div class="time">
                                    3 phút trước
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="body-cate-2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail-top">
                            <img src="images/cao-nguyen-da.jpg">
                            <div class="caption2">
                                <a href="">Du lịch cao nguyên đá Đồng Văn hùng vĩ và tráng lệ</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail-top">
                            <img src="images/cot-co-lung-cu.jpg">
                            <div class="caption2">
                                <a href="">Cột cờ Lũng Cú - nơi địa đầu Tổ quốc</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail-top">
                            <img src="images/dong-song-nho-quan.jpg">
                            <div class="caption2">
                                <a href=""> Dọc theo dòng sông Nho Quế huyền thoại</a>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div id="body-cate-3">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="images/cao-nguyen-da.jpg">
                    </div>
                    <div class="media-body">
                        <a href="" class="media-heading">Du lịch cao nguyên đá Đồng Văn hùng vĩ và tráng lệ</a>
                        <p class="time">10/06/2016 T.6</p>
                        <p>Cao nguyên đá Đồng Văn với phong cảnh hùng vĩ với những thửa ruộng bậc thang,
                            cánh đồng hoa cải đẹp mê hồn và bản sắc văn hóa dân tộc vùng cao</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="images/cao-nguyen-da.jpg">
                    </div>
                    <div class="media-body">
                        <a href="" class="media-heading">Du lịch cao nguyên đá Đồng Văn hùng vĩ và tráng lệ</a>
                        <p class="time">10/06/2016 T.6</p>
                        <p>Cao nguyên đá Đồng Văn với phong cảnh hùng vĩ với những thửa ruộng bậc thang,
                            cánh đồng hoa cải đẹp mê hồn và bản sắc văn hóa dân tộc vùng cao</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="images/cao-nguyen-da.jpg">
                    </div>
                    <div class="media-body">
                        <a href="" class="media-heading">Du lịch cao nguyên đá Đồng Văn hùng vĩ và tráng lệ</a>
                        <p class="time">10/06/2016 T.6</p>
                        <p>Cao nguyên đá Đồng Văn với phong cảnh hùng vĩ với những thửa ruộng bậc thang,
                            cánh đồng hoa cải đẹp mê hồn và bản sắc văn hóa dân tộc vùng cao</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="images/cao-nguyen-da.jpg">
                    </div>
                    <div class="media-body">
                        <a href="" class="media-heading">Du lịch cao nguyên đá Đồng Văn hùng vĩ và tráng lệ</a>
                        <p class="time">10/06/2016 T.6</p>
                        <p>Cao nguyên đá Đồng Văn với phong cảnh hùng vĩ với những thửa ruộng bậc thang,
                            cánh đồng hoa cải đẹp mê hồn và bản sắc văn hóa dân tộc vùng cao</p>
                    </div>

                </div>
                <div id="page">
                    <ul class="pagination">
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <img src="images/banner3.jpg">
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class ="menu">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Bắc</a></li>
                    <li><a href="">Trung</a></li>
                    <li><a href="">Nam</a></li>
                    <li><a href="">Nước ngoài</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Kinh nghiệm</a></li>
                </ul>
            </nav>
        </div>
        <div id="footer1">
            <p>H-Phượt</p>
            <span class="glyphicon glyphicon-copyright-mark"></span>
            Copyright hphuot.xyz. All rights reserved
        </div>
    </div>

</div>
</body>
</html>