<html>
	<head>
		<meta charset="UTF-8">
    	<title>Trang chủ</title>

    	<link rel = "stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel = "stylesheet" type="text/css" href="css/bootstrap-hoan.css">

		<link rel = "stylesheet" type="text/css" href="css/home.css">
    	<script src="js/jquery.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id = "header">
			<div class="container">
				<div id="header1" class="row">
					<div class="col-md-4 col-xs-6">
						<div id="input">
							<form>
								<input type="text" placeholder="Tìm kiếm">
								<button type="submit"><img src="images/search.png"></button>
							</form>
						</div>

					</div>
					<div id="logo" class="col-md-4 col-xs-6">
						H-Phượt
					</div>
					<div id="social" class="col-md-4 col-xs-6">
						<a href=""><img src="images/f.png"></a>
						<a href=""><img src="images/icon2.png"></a>
						<a href=""><img src="images/g.png"></a>
						<a href=""><img src="images/icon4.png"></a>
					</div>

				</div>
				<div class ="menu">
					<nav class="navbar navbar-default">
						<ul class="nav navbar-nav">
							<li><a href=""><span class="glyphicon glyphicon-home"></span>Trang chủ</a></li>
							<li><a href="">Miền Bắc</a></li>
							<li><a href="">Miền Trung</a></li>
							<li><a href="">Miền Nam</a></li>
							<li><a href="">Nước ngoài</a></li>
							<li><a href="">Tin tức</a></li>
							<li><a href="">Kinh nghiệm</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="top">
				<div class="row">

					<div class="item col-md-3">
						<div class="thumbnail-top">
							<img src="images/img-top.jpg">
							<div class="title">
								<div><a href=""><button class="btn btn-default">GIẢI TRÍ</button></a></div>
								<div>Nghệ sĩ Trần Lập</div>

							</div>
						</div>
					</div>
					<div class="item col-md-3">
						<div class="thumbnail-top">
							<img src="images/img-top.jpg">
							<div class="title">
								<div><a href=""><button class="btn btn-default">GIẢI TRÍ</button></a></div>
								<div>Nghệ sĩ Trần Lập</div>

							</div>
						</div>
					</div>
					<div class="item col-md-3">
						<div class="thumbnail-top">
							<img src="images/img-top.jpg">
							<div class="title">
								<div><a href=""><button class="btn btn-default">GIẢI TRÍ</button></a></div>
								<div>Nghệ sĩ Trần Lập</div>

							</div>
						</div>
					</div>
					<div class="item col-md-3">
						<div class="thumbnail-top">
							<img src="images/img-top.jpg">
							<div class="title">
								<div><a href=""><button class="btn btn-default">GIẢI TRÍ</button></a></div>
								<div>Nghệ sĩ Trần Lập</div>

							</div>
						</div>
					</div>
				</div>


			</div>
			<div id="banner">
					<img src="images/banner1.jpg" width="100%">
			</div>
			<div id="body1">
				<div class="row">
					<div class="col-md-3">
						<div class="list-cate">
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img class="media-object" src="images/cot-co-lung-cu.jpg" width="45px" height="45px">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<a href="">Cột cờ lũng cú nằm ở đỉnh Lũng Cú hay còn gọi là đỉnh núi Rồng</a>
									</div>
									<div class="time">
										3 phút trước
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-6">
						<div id="body1-center">
							<div>
								<div class="thumbnail-top">
									<img src="images/dong-song-nho-quan.jpg">
									<div class="caption1">
										Đèo Mã Phí Lèng huyền thoại
									</div>
									<div class="content">
										Mã Pí Lèng được du khách gọi một cách không chính thống là một trong "tứ đại đỉnh đèo" tại vùng núi phía Bắc Việt Nam
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="thumbnail-top">
										<img src="images/thac-ban-doc.jpg" >
										<div class="caption2">Thác bản dốc cao bằng</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="thumbnail-top">
										<img src="images/cao-nguyen-da.jpg">
										<div class="caption2">Cao nguyên đá đồng văn</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div id="body1-right">
							<img src="images/banner3.jpg">
						</div>
					</div>
				</div>
				<div id="body2">
					<div class="row">
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-6">
										<div class="panel">
											<div class="panel-heading">
												<div>
													<a href="box-heading">Miền Bắc</a>
												</div>
												<img src="images/heading.png">
												<div class="triangle"></div>

											</div>
											<div class="panel-body">
												<div class="thumbnail-top">
													<img src="images/thac-ban-doc.jpg">
													<div><a href="">Vẻ đẹp thiên nhiên kỳ diệu của thác bản dốc Cao Bằng</a></div>
													<ul>
														<li><a href="">Thung nai Hòa Bình</a> </li>
														<li><a href="">Rừng quốc gia ba vì</a> </li>
														<li><a href="">Rừng quốc gia Cúc Phương</a> </li>
													</ul>
												</div>

											</div>
										</div>
								</div>
								<div class="col-md-6">
									<div class="panel">
										<div class="panel-heading">
											<div>
												<a href="">Miền Bắc</a>
											</div>
											<img src="images/heading.png">
											<div class="triangle"></div>

										</div>
										<div class="panel-body">
											<div class="thumbnail-top">
												<img src="images/thac-ban-doc.jpg">
												<div><a href="">Vẻ đẹp thiên nhiên kỳ diệu của thác bản dốc Cao Bằng</a></div>
												<ul>
													<li><a href="">Thung nai Hòa Bình</a> </li>
													<li><a href="">Rừng quốc gia ba vì</a> </li>
													<li><a href="">Rừng quốc gia Cúc Phương</a> </li>
												</ul>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="panel">
										<div class="panel-heading">
											<div>
												<a href="">Miền Bắc</a>
											</div>
											<img src="images/heading.png">
											<div class="triangle"></div>

										</div>
										<div class="panel-body">
											<div class="thumbnail-top">
												<img src="images/thac-ban-doc.jpg">
												<div><a href="">Vẻ đẹp thiên nhiên kỳ diệu của thác bản dốc Cao Bằng</a></div>
												<ul>
													<li><a href="">Thung nai Hòa Bình</a> </li>
													<li><a href="">Rừng quốc gia ba vì</a> </li>
													<li><a href="">Rừng quốc gia Cúc Phương</a> </li>
												</ul>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="panel">
										<div class="panel-heading">
											<div>
												<a href="">Miền Bắc</a>
											</div>
											<img src="images/heading.png">
											<div class="triangle"></div>

										</div>
										<div class="panel-body">
											<div class="thumbnail-top">
												<img src="images/thac-ban-doc.jpg">
												<div><a href="">Vẻ đẹp thiên nhiên kỳ diệu của thác bản dốc Cao Bằng</a></div>
												<ul>
													<li><a href="">Thung nai Hòa Bình</a> </li>
													<li><a href="">Rừng quốc gia ba vì</a> </li>
													<li><a href="">Rừng quốc gia Cúc Phương</a> </li>
												</ul>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="panel">
										<div class="panel-heading">
											<div>
												<a href="">Miền Bắc</a>
											</div>
											<img src="images/heading.png">
											<div class="triangle"></div>

										</div>
										<div class="panel-body">
											<div class="thumbnail-top">
												<img src="images/thac-ban-doc.jpg">
												<div><a href="">Vẻ đẹp thiên nhiên kỳ diệu của thác bản dốc Cao Bằng</a></div>
												<ul>
													<li><a href="">Thung nai Hòa Bình</a> </li>
													<li><a href="">Rừng quốc gia ba vì</a> </li>
													<li><a href="">Rừng quốc gia Cúc Phương</a> </li>
												</ul>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="panel">
										<div class="panel-heading">
											<div>
												<a href="">Miền Bắc</a>
											</div>
											<img src="images/heading.png">
											<div class="triangle"></div>

										</div>
										<div class="panel-body">
											<div class="thumbnail-top">
												<img src="images/thac-ban-doc.jpg">
												<div><a href="">Vẻ đẹp thiên nhiên kỳ diệu của thác bản dốc Cao Bằng</a></div>
												<ul>
													<li><a href="">Thung nai Hòa Bình</a> </li>
													<li><a href="">Rừng quốc gia ba vì</a> </li>
													<li><a href="">Rừng quốc gia Cúc Phương</a> </li>
												</ul>
											</div>

										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-3">
							<img src="images/banner3.jpg">
						</div>
					</div>
				</div>



			</div>
		</div>

		<div id="footer">
			<div class="container">
				<div class ="menu">
					<nav class="navbar navbar-default">
						<ul class="nav navbar-nav">
							<li><a href=""><span class="glyphicon glyphicon-home"></span>Trang chủ</a></li>
							<li><a href="">Bắc</a></li>
							<li><a href="">Trung</a></li>
							<li><a href="">Nam</a></li>
							<li><a href="">Nước ngoài</a></li>
							<li><a href="">Tin tức</a></li>
							<li><a href="">Kinh nghiệm</a></li>
						</ul>
					</nav>
				</div>
				<div id="footer1">
					<p>H-Phượt</p>
					<span class="glyphicon glyphicon-copyright-mark"></span>
					Copyright hphuot.xyz. All rights reserved
				</div>
			</div>

		</div>
	</body>

</html>

