body{
    background-color: #f7f3f3;
}

#header {
    height: 130px;
    background-color: #ff4488;
    color: #ffffff;
}

#header1{
    padding-top: 20px;
    height: 90px;
}
#header1 .auth a {
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
#header1 .auth a:hover {
    color: #ffa2c4;
}
#social {
    text-align: right;
}
#social img {
    padding-right: 20px;
}
#logo {
    text-align: center;
    font-size: 50px;
}
#input {
    width: 200px;
    height: 25px;
    border-bottom: 1px solid #ffa2c4;
}
#input button{
    background-color: transparent;
    border: none;
}
#input input{
    width: 170px;
    background: #ff4488;
    border: none;
}


#input input::-webkit-input-placeholder {
    color: #ffffff;
}
.menu {
    text-transform: uppercase;
}
.menu .navbar-default {
    background-color: #ff4488;
    border: none;
}
.menu span {
    padding-right: 10px;
}

/*.menu .active a{*/
/*background-color: #d32967;*/
/*}*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #d32967;
}
.menu ul li {
    border-right: 2px solid #ff7cac;
    border-radius: 3px;
}
#header .navbar {
    min-height: 0px;
}

.navbar-nav > li:first-child{
    padding-left: 0px;
}
.navbar-nav > li {
    padding-right: 5px;
    padding-left: 5px;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 4px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffff00;
    background-color: #d32967;
}
#body {
    margin-top: 25px;
}
#body-ads img {
    width: 100%;
}
#category {
    margin-bottom: 30px;
    text-transform: uppercase;
    height: 40px;
    background-color: #ffffff;
}
#category .breadcrumb {
    background-color: #ffffff;
}
#category a {
    text-decoration: none;
}

#category a:hover{
    color: #f34900;
}


#footer a{
    text-decoration: none;
    color: #ffffff;
}

#footer a:hover{
    color: #ffff00;
}
#footer {
    height: 150px;
    background-color:  #ff4488;
}

#footer .menu {
    /*padding-top: 40px;*/
}

#footer1{
    color: #ffffff;
    text-align: center;
}

#footer1 p {
    font-size: 30px;
}
#footer .menu {
    padding-top: 10px;
}
#footer .menu ul li {
    border-right: none;
}