body{
	background-color: #f7f3f3;
}

#header {
	height: 140px;
	background-color: #ff4488;
	color: #ffffff;
}

#header1{
	padding-top: 20px;
	height: 90px;
}
#social {
	text-align: right;
}
#social img {
	padding-right: 20px;
}
#logo {
	text-align: center;
	font-size: 50px;
}
#input {
	width: 200px;
	border-bottom: 1px solid #ffa2c4;
}
#input button{
	background-color: transparent;
	border: none;
}
#input input{
	background: #ff4488;
	border: none;
}


#input input::-webkit-input-placeholder {
	color: #ffffff;
}
.menu {
	text-transform: uppercase;
}
.menu .navbar-default {
	background-color: #ff4488;
	border: none;
}
.menu span {
	padding-right: 10px;
}

/*.menu .active a{*/
	/*background-color: #d32967;*/
/*}*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #d32967;
}
.navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}
/*.menu .navbar{*/
	/*background-color: #ff4488;*/
	/*border: none;*/
/*}*/

.navbar-default .navbar-nav > li > a {
	 color: #ffffff;
 }

.navbar-default .navbar-nav > li > a:hover {
	color: #ffff00;
}

/*TOP*/
#top {
	margin-top: 50px;
}

.item {
	color: #ffffff;
	position: relative;
	padding: 0px 2px;
	/*width: 280px*/
}
.item .title{
	position: absolute;
	bottom: 40px;
	left: 40px;
}
#top .title div:nth-child(2) {
	padding-top: 10px;
}
/*End TOP*/
/*BANNER*/
#banner {
	margin-top: 15px;
}

/*End BANNER*/

/*Body1*/
#body1 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.list-cate {
	background-color: #ffffff;
}
.list-cate {
	padding-top: 10px;
	padding-bottom: 10px;
}
.list-cate a{
	text-decoration: none;
	color: #333333;
}
.list-cate .media {
	padding: 0px 10px 0 10px;
	border-bottom: 2px solid #f7f3f3;
}
.list-cate .media-heading {
	font-size: 11px;
	font-weight: bold;
}
.list-cate .time {
	font-size: 11px;
}
#body1-center {
	background-color: #ffffff;
}
#body1-center .caption1 {
	color: #ff4488;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
}
#body1-center .content {
	color: #808080;
	font-size: 13px;
	padding: 10px 20px;
}
.caption2 {
	color: #ff4488;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 20px;
}
.caption2 a{
	text-decoration: none;
	color: #ff4488;
}
#body1-center .row .thumbnail-top:first-child {
	padding-left: 20px;
}
#body1-center .row .thumbnail-top:nth-child(1) {
	padding-right: 20px;
}
#body2 {
	margin-top: 30px;
	margin-bottom: 100px;
}
#body2 a{
	text-decoration: none;
}
#body2 .panel {
	background-color: #ffffff;
}

.panel-heading {

	padding-top: 10px;
	position: relative;
	left: -30px;
}
.panel-heading div a {
	color: #ffffff;
	font-weight: bold;
}
.panel-heading img {
	display: inline;
}

.panel-heading div:first-child{
	display: inline;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	width: 200px;
	height: 35px;
	background-color: #f34764;
	position: relative;
	bottom: -1px;
	left: 4px;
}
.triangle {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #be1f3a;
	position: relative;
	left: 4px;
}

#body2 .thumbnail-top div{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 2px solid #f7f3f3;
}
#body2 .thumbnail-top div a{
	color: #ff4488;
}
#body2 .thumbnail-top ul li{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}
#body2 .thumbnail-top ul li a{
	color: #333333;
}

/*End-body1*/
#footer a{
	text-decoration: none;
	color: #ffffff;
}

#footer a:hover{
	color: #ffff00;
}
#footer {
	height: 150px;
	background-color:  #ff4488;
}

#footer .menu {
	/*padding-top: 40px;*/
}

#footer1{
	color: #ffffff;
	text-align: center;
}

#footer1 p {
	font-size: 30px;
}